%h1.text-center
  =link_to "Categories", categories_path, {:style => 'color: #000'}
%br
%table.table.table-stripped
  %tr
    %th
    - @categories.each do |category|
      %th.text-center #{link_to category.name, books_category_path(category)}
    %th
