!!!
%html
  %head
    %title Bot
    %link{rel: :stylesheet, type: "text/css", href: "styles.css"}
  %body
    %header
      %div Bot

    =yield

    %footer
      / %a{href: "/thanks", class: "button"} Thanks!
      / %a{href: "/", class: "button"} Meh.
