.row {
	width: 800px;
}

button {
		background-color: transparent;
    border: 1px solid RGBA(230, 230, 230, .25);
    width: 20px; 
    height: 20px;
    display: inline-block;
    outline: none;
}

.alive {
	z-index: 5;
	background-image: url("../smile.png");
	background-size: cover;
	border-radius: 50%;
	-webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

#navbar {
	padding: 10px;
	height: 120px;
	position: absolute;
	top: 0px;
	right: 10px;
	color: RGBA(255, 83, 0, 1);
	background: RGBA(255, 255, 255, .8);
}

#navbar h2 {
	line-height: 0;
}

.command {
	background-color: RGBA(232, 198, 188, .8);
	color: RGBA(255, 83, 0, 1);
	border: 5px solid RGBA(255, 83, 0, 1);
	display: block;
	margin-top: 10px;
	border-radius: 5px;
	width: 100px; 
  height: 40px;
  cursor: pointer;
  font-size: 20px;
}

#board {
	width: 800px;
	background-image: url("../world.gif");
	background-size: 77.7%;
}

#title {
	padding: 5px;
	position: absolute;
	z-index: 5;
	background-color: RGBA(232, 198, 188, .8);
	color: RGBA(255, 83, 0, 1);
	border: 2px solid RGBA(255, 83, 0, 1);
	margin: -10px 0 0 200px;
	border-radius: 5px;
  height: 40px;
  width: 321px;
}

#rules {
	padding: 5px;
	background-color: RGBA(232, 198, 188, .8);
	border: 5px solid RGBA(255, 83, 0, 1);
	color: RGBA(255, 83, 0, 1);
	border-radius: 5px;
	margin-left: 850px;
	margin-top: -650px;
	width: 450px;
	position: absolute;
	float: right;
}

.smiley {
	height: 20px;
}