body {
  text-align: center;
  font-family: Helvetica;
}
main {
  width: 30%;
  margin: 0 auto;
  display: inline-block;
}

#output {
  height: 24px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid black;
  display: block;
  text-align: right;

}

table {
  width: 100%;
  clear: both;
  border: 1px solid black;
  background-color: rgba(75, 175, 255, 1);
}

td {
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
  width: 60px;
  height: 40px;
  background-color: rgba(100, 150, 100, 1);
  color: yellow;
  cursor: pointer;
}

#enter {
  white-space: nowrap;
}
