// Place all the styles related to the gifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-container {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
#purchased {
  text-align: center;
}

.text-field {
  width: 100%;
}

.show-gift {
  font-size: 32px;
  text-align: center;
}

.submit-form-button {
  display: table;
  margin: 0 auto;
}

.nav-links {
  text-align: center;
}
