form(action="/quotes", method="post")
  div.input
    span.quote Quote
    input(type="text", name="quote")
    span.author Author
    input(type="text", name="author")
  div.button
    input(type="submit" value="Update")
