%h1.text-center
  =link_to "Authors", authors_path, {:style => 'color: #000'}
%br
%div.text-center
  = paginate @authors
%table.table.table-striped
  %tr
    %th
    %th
      =link_to "Name", authors_sort_path(sort_by: "name")
    %th
      =link_to "Address", authors_sort_path(sort_by: "address")
  - @authors.each do |author|
    %tr
      %td.col-md-1
      %td #{link_to author.name, author_path(author)}
      %td #{author.address}
