<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>AngularJS Filters</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://code.angularjs.org/1.4.4/angular.min.js"></script>
  <script src="js/myFilters-module.js"></script>
  <script src="js/app.js"></script>
  <script src="js/main-controller.js"></script>
  <script src="js/clientData-service.js"></script>
</head>
<body class="container" ng-controller="MainController as vm">
  <br>
  <div class="jumbotron text-center"><h1>AngularJS Filters</h1></div>
  <div class="row">
    <div class="col-xs-2">
      <label>City</label>
      <select class="form-control" ng-model="vm.selectedCity" ng-options="city for city in vm.cities"></select>
    </div>
    <div class="col-xs-2">
      <label>Limit</label>
      <select class="form-control" ng-model="vm.limitSearchNumber" ng-options="num for num in vm.limitSearch"></select>
    </div>
    <div class="col-xs-6">
      <label>Search</label>
      <input type="search" class="form-control" ng-model="vm.search" placeholder="search...">
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th ng-click="vm.sortBy = 'name'">First</th>
        <th ng-click="vm.sortBy = 'name' | lastName">Last</th>
        <th ng-click="vm.sortBy = 'city'">City</th>
        <th ng-click="vm.sortBy = 'bio'">Bio</th>
        <th ng-click="vm.sortBy = 'date'">Client Date</th>
        <th class="text-right" ng-click="vm.sortBy = 'funds'">Funds</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="client in vm.clients | filter: {city: vm.selectedCity} | filter: vm.search | limitTo: vm.limitSearchNumber | orderBy: vm.sortBy:vm.descending = !vm.descending">
        <td>{{client.name | firstName}}</td>
        <td>{{client.name | lastName}}</td>
        <td>{{client.city | uppercase}}</td>
        <td>{{client.bio | ellipsis: 20}}</td>
        <td>{{client.date | date: "MM/dd/yyyy"}}</td>
        <td class="text-right">{{client.funds | currency: $ : 2}}</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
